PORT=3000
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=
KAKAO_REST_API_KEY=
KAKAO_BACKEND_REDIRECT_URI=
KAKAO_FRONTEND_REDIRECT_URI=
AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SQS_AI_TASK_QUEUE_URL=
AWS_SES_REGION=ap-northeast-2
MAIL_PROVIDER=ses
MAIL_FROM=judam.aws@gmail.com
SUPPORT_MAIL_FROM=judam.aws@gmail.com
SUPPORT_MAIL_TO=judam.aws@gmail.com
TOSS_SECRET_KEY=
AI_SERVER_BASE_URL=http://localhost:8000
AI_SERVER_URL=http://localhost:8000
